h3 {
    color: #415094 !important;
    font-size: 18px !important;
}

.appContainer .form-control{
    color:  #828bb2 !important;
}

.input-group:focus-within label {
  color: #828bb2 !important;
}

.appContainer  .form-label {
  color:  #828bb2 !important;
}

.ql-snow.ql-toolbar {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color:  #828bb2 !important;
}

.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #828bb2 !important;
  color:  #828bb2 !important;
}
.ql-toolbar .ql-fill {
  fill: #828bb2 !important;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #828bb2 !important;
}

.ql-editor {
  min-height: 15em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.rounded-form-control {
  border-radius: 40px !important;
}

.star {
  color: red !important;
  font-weight: bold;
}

.empty-field {
  color: #ff0000 !important;
  font-size: 0.7em;
  line-height: 0.7em;
  margin: 0 !important;
  padding:0 !important;
}

.white-text {
  color: white !important;
}

.ql-editor {
  height: 150px !important;
  overflow-y:scroll !important;
  }

.button-color {
  border: 1px solid #c738d8 !important;
  background-color: #c738d8 !important;
  color: white !important;
}