h3 {
    color: #415094 !important;
    font-size: 18px !important;
}

.addTaskContainer {
  display: flex;
  justify-content: center;
}

.addTaskContainer  * {
    color:  #828bb2 !important;
}

.editor-container {
  min-height: 150px;
  height: fit-content;
}
.font-poppins {
  font-family: "Poppins";
}

.ql-snow.ql-toolbar {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  min-height: 15em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.rounded-form-control {
  border-radius: 40px !important;
}

.star {
  color: red !important;
  font-weight: bold;
}



.empty-field {
  color: #ff0000 !important;
  font-size: 0.7em;
  line-height: 0.7em;
  margin: 0 !important;
  padding:0 !important;
}

.white-text {
  color: white !important;
}

.ql-editor {
  height: 150px !important;
  overflow-y:scroll !important;
  }